<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
<body>
<header>
  <div class="col-xs-3">
    <%= link_to root_path, class: 'logo' do %>
    <div class="circle">
        <br />
        When searching
        <br />
        for meaning
        <br />
        becomes oppressive
    </div>
    <% end %>
  </div>
  <div class="col-xs-4 slogan">
    Feeling that all-consuming ennui breathing down your neck?
    </div>
  <div class="col-xs-5 links">
    <%= link_to 'Contribute', new_quote_path %>
    <%= link_to 'About', '#' %>
  </div>
</header>
<hr />
<br class="clear" />

<div class="container">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <div class="col-xs-6">
      <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
    </div>
    <div class="col-xs-6 footer-blurb">
      Cobbled together in a fit of rage by <a href="https://phearn.github.io/">this guy</a>
    </div>
  </div>
</footer>


</body>
</html>
